Options +FollowSymLinks
RewriteEngine On
RewriteRule ^en/?$ ./index.php?en=1 [L,NC]
RewriteRule ^en/([0-9a-zA-Z]+(?:;[0-9a-zA-Z]+)*)$ ./DisplaySkema.php?aarskort=$1&en=1 [L,NC]
RewriteRule ^en/([0-9a-zA-Z]+(?:;[0-9a-zA-Z]+)*)/allweeks$ ./DisplaySkema.php?aarskort=$1&allweeks=1&en=1 [L,NC]
RewriteRule ^en/([0-9a-zA-Z]+(?:;[0-9a-zA-Z]+)*)/json ./DisplayJSON.php?aarskort=$1&allweeks=1&en=1 [L,NC]
RewriteRule ^([0-9a-zA-Z]+(?:;[0-9a-zA-Z]+)*)$ ./DisplaySkema.php?aarskort=$1 [L,NC]
RewriteRule ^([0-9a-zA-Z]+(?:;[0-9a-zA-Z]+)*)/allweeks$ ./DisplaySkema.php?aarskort=$1&allweeks=1 [L,NC]
RewriteRule ^([0-9a-zA-Z]+(?:;[0-9a-zA-Z]+)*)/json ./DisplayJSON.php?aarskort=$1&allweeks=1 [L,NC]